<p>
    <mat-toolbar>
     <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>Book Store</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" 
       routerLink="/"
       aria-label="Example icon-button with share icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button color="accent" routerLink="books/allbooks">All books</button>
    <span class="spacer"></span>
    <button mat-button color="accent" routerLink="/auth/login">Login</button>
    <button mat-button color="accent" routerLink="/auth/signup">SignUp</button>

    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
     -->
  </mat-toolbar>
  </p>
  
